<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="robots" content="noindex,nofollow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="Supremo • Помощник позволяет удаленно подключаться к другому компьютеру" />
  <meta name="author" content="Dmitrii Baklai" />
  <meta name="google" content="notranslate">
  <meta data-hid="mobile-web-app-capable" name="mobile-web-app-capable" content="yes">
  <meta data-hid="apple-mobile-web-app-title" name="apple-mobile-web-app-title" content="Supremo • Удаленный помощник">
  <meta data-hid="theme-color" name="theme-color" content="#ffffff">
  <meta data-hid="og:type" name="og:type" property="og:type" content="website">
  <meta data-hid="og:title" name="og:title" property="og:title" content="Helper · Удаленный помощник v1">
  <meta data-hid="og:site_name" name="og:site_name" property="og:site_name" content="Helper · Удаленный помощник v1">
  <meta data-hid="og:description" name="og:description" property="og:description"
    content="Supremo • Помощник позволяет удаленно подключаться к другому компьютеру">
  <meta data-hid="charset" charset="utf-8">
  <meta data-hid="apple-mobile-web-app-capable" name="apple-mobile-web-app-capable" content="yes">
  <meta data-hid="apple-mobile-web-app-status-bar-style" name="apple-mobile-web-app-status-bar-style"
    content="black-translucent">
  <meta data-hid="author" name="author" content="Dmitrii Baklai">
  <meta data-hid="og:image:width" name="og:image:width" property="og:image:width" content="50">
  <meta data-hid="og:image:height" name="og:image:height" property="og:image:height" content="50">
  <meta data-hid="og:image:type" name="og:image:type" property="og:image:type" content="image/png">
  <meta data-hid="twitter:card" name="twitter:card" property="twitter:card" content="summary_card">
  <meta data-hid="twitter:creator" name="twitter:creator" property="twitter:creator" content="Dmitrii Baklai">
  <title>Helper · Удаленный помощник v1</title>
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <!-- Bootstrap core CSS -->
  <link href="/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="/css/main.css" rel="stylesheet" />
</head>

<body>
  <div class="col-lg-6 mx-auto p-3 py-md-5 my-5 bg-div">
    <header class="d-flex align-items-center pb-3 mb-5 border-bottom">
      <div class="col-md-6 d-flex align-items-center">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="32" fill="currentColor" class="bi bi-headset"
            viewBox="0 0 16 16">
            <title>Helper</title>
            <path
              d="M8 1a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V6a6 6 0 1 1 12 0v6a2.5 2.5 0 0 1-2.5 2.5H9.366a1 1 0 0 1-.866.5h-1a1 1 0 1 1 0-2h1a1 1 0 0 1 .866.5H11.5A1.5 1.5 0 0 0 13 12h-1a1 1 0 0 1-1-1V8a1 1 0 0 1 1-1h1V6a5 5 0 0 0-5-5z" />
          </svg>
          <span class="fs-4">Helper - Удаленный помощник</span>
        </a>
      </div>

      <ul class="nav col-md-6 px-2 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" target="_blank" href="https://www.facebook.com/dmitrii.baklai/">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" target="_blank" href="https://github.com/baklai">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/dmitrii-baklai-1370a3170/">
            <i class="bi bi-linkedin"></i>
          </a>
        </li>
      </ul>
    </header>

    <main class="px-2">
      <h1>
        <i class="bi bi-info-square"></i>
        Инструкция по настройке удаленного доступа
      </h1>
      <p class="fs-6 col-md-10">
        <strong>
          <a href="https://www.supremocontrol.com/" target="_blank">
            Supremo
          </a>
        </strong>
        - это инструмент для удаленного управления другим компьютером, который
        станет хорошим помощником для обеспечения технической поддержки по
        интернету, отображения своего экрана другим пользователям и т.д.
      </p>

      <div class="container mt-5">
        <h3><b>Шаг 1</b> - Загрузка Supremo</h3>
        <p class="fs-6 col-md-10">Загрузка приложения для удаленной помощи</p>

        <div class="mb-3 mt-3">
          <a class="btn btn-primary btn-lg px-4" href="/docs/Supremo.exe" download>
            <i class="bi bi-download"></i> Скачать Supremo
          </a>
        </div>
        <img width="600" src="/img/supremo/1-step-download.png" />
      </div>

      <div class="container mt-5">
        <h3><b>Шаг 2</b> - Запуск Supremo</h3>
        <p>Запуск программы без установки</p>
        <p>
          Приложение не требует установки в систему и сразу готово для
          использования. При этом не требуется настраивать фаервол или роутер. <br />
          <img width="600" src="/img/supremo/2-step-install.png" />
        </p>
        <p>Первый запуск программы</p>
        <p>
          <img width="600" src="/img/supremo/3-step-run.png" />
        </p>
      </div>

      <div class="container mt-5">
        <h3><b>Шаг 3</b> - Ваш ID и Пароль</h3>
        <p>ID и Пароль для удаленного поключения</p>
        <p>
          После запуска программы вам будет присвоен некий ID и выдан пароль.
          <img width="600" src="/img/supremo/4-step-user-id.png" />
        </p>
      </div>

      <div class="container mt-5">
        <h3><b>Шаг 4</b> - Обратная связь</h3>
        <p>Звонок в техподдержку</p>
        <h5>
          • Запустив приложение и получив <strong>ВАШ ID</strong> и
          <strong>ПАРОЛЬ</strong> свяжитесь с сотрудниками отдела
          техподдержки. <br /> <br />
          • Сообщив Ваш ID и Пароль сотрудник техподдежки получит удаленный
          доступ к Вашему ПК.
        </h5>
      </div>
    </main>

    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 px-2 border-top">
      <div class="col-md-6 d-flex align-items-center">
        <span class="text-muted">Created by the Dmitrii Baklai &middot; &copy; 2022</span>
      </div>
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3">
          <a class="text-muted" target="_blank" href="https://www.facebook.com/dmitrii.baklai/">
            <i class="bi bi-facebook"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" target="_blank" href="https://github.com/baklai">
            <i class="bi bi-github"></i>
          </a>
        </li>
        <li class="ms-3">
          <a class="text-muted" target="_blank" href="https://www.linkedin.com/in/dmitrii-baklai-1370a3170/">
            <i class="bi bi-linkedin"></i>
          </a>
        </li>
      </ul>
    </footer>
  </div>

  <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>